<div class="buy-sell__btn-block-header">
    <div class="buy-sell__btn-title">Balance</div>
    <p class="buy-sell__btn-mark">
      <span class="label label-info status-info"></span>
      <span class="label label-success status-success"></span>
      <span class="label label-danger status-danger"></span>
      <span class="current-balance number"></span>
      <span class="buy-sell__btn-mark--extra"><%= currency %></span>
    </p>
</div>