<!-- <div id="candlestick">
  <div id="candlestick_chart" style="height: 100%;"></div>
  <div class="mask">
    <table>
      <tr>
        <td class="text-center">
          <i class="fa fa-refresh fa-spin fa-1x"></i>
          <span> Loading ...</span>
        </td>
      </tr>
    </table>
  </div>
</div> -->
<div class="form">
  <div class="form__header">
    <h2 class="title">Charts</h2>
  </div>
  <div class="form__body charts-settings__body">
    <div class="charts-settings__container">
      <%= render partial: 'indicator_switch' %>
      <%= render partial: 'range_switch' %>
      
    </div>
    <div class="charts-settings__chart-container">  
      <div id="candlestick">
          <div id="candlestick_chart" style="height: 100%;"></div>
          <div class="mask">
              <table>
              <tr>
                  <td class="text-center">
                  <i class="fa fa-refresh fa-spin fa-1x"></i>
                  <span> Loading ...</span>
                  </td>
              </tr>
              </table>
          </div>
          </div>
    </div>
  </div>
</div>
