<div class="depths">
  <div class="depths__header">
    <h2 class="title">Live Depth</h2>
  </div>
  <div id="depths_wrapper" class="panel panel-default">
    <div class="panel-body panel-body-content">
      <div id="depths"></div>
    </div>
  </div>
</div>
