<div id="indicator_switch_wrapper" class="switch select-menu-container">
  <ul class="select-menu invisible--mobile list-inline" style="margin:0px;padding:0px;">
    <li style="list-style-type: none;" class="select-menu__item">
      <ul id="type_switch" class="select-menu indicator_switch list-inline" data-x="candlestick" style="margin:0px;padding:0px;">
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <a class="hand-point" data-x="candlestick" href="#"><%= t('chart.candlestick') %></a>
        </li>
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <a class="hand-point" data-x="close" href="#"><%= t('chart.line') %></a>
        </li>
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <span> | </span>
        </li>
      </ul>
    </li>
    <li style="list-style-type: none;" class="select-menu__item">
      <ul id="main_indicator_switch" class="select-menu  indicator_switch list-inline" data-x="MA" style="margin:0px;padding:0px;">
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <a class="hand-point" data-x="MA" href="#">MA</a>
        </li>
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <a class="hand-point" data-x="EMA" href="#">EMA</a>
        </li>
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <span> | </span>
        </li>
      </ul>
    </li>
    <li style="list-style-type: none;" class="select-menu__item">
      <ul id="indicator_switch" class="select-menu indicator_switch list-inline" data-x="MACD" style="margin:0px;padding:0px;">
        <li class="text-center select-menu__item" style="list-style-type: none;">
          <a class="hand-point" data-x="MACD" href="#">MACD</a>
        </li>
      </ul>
    </li>
  </ul>
</div>