<div id="market_trades_wrapper" class="form exchange__order-list">
  <div class="form__header order-list__header">
    <h2 class="title">Market History</h2>
  </div>
  <div id="market_trades" class="form__body order-list__body">
    <div class="form__column-container order-list__column-container">
      <div class="form__column order-list__column">Quantity (<%= @data.fetch(:current_market).fetch(:ask_unit) %>)</div>
      <div class="form__column type">Type</div>
      <div class="form__column order-list__column">Price (<%= @data.fetch(:current_market).fetch(:bid_unit) %>)</div>
      <div class="form__column fee">Total (<%= @data.fetch(:current_market).fetch(:bid_unit) %>)</div>
      <div class="form__column order-list__column">Time</div>
    </div>
    <div class="order-list__order-form-container">
      <table class="table table-hover all-trades" style="width:100%;border-spacing:0px;">
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
