<div class="form exchange__order-history">
  <div class="form__header">
    <h2 class="title">My Pending Orders</h2>
  </div>
  <div class="form__body order-history__body" style="min-height:208px;">
    <div class="form__column-container order-history__column-container">
      <div class="form__column order-history__column">Quantity</div>
      <div id="price_" class="form__column order-history__column">Price (USD)</div>
      <div class="form__column order-history__column">Time</div>
    </div>
    <div id="my_orders" class="order-history__order-form-container" style="min-height:175px;">
      <table class="table table-hover" style="width:100%;border-spacing:0px;">
        <tbody style="width:100%;"></tbody>
      </table>
    </div>
  </div>
</div>
