<div id="ticker" class="order-book__settings-row">
  <div class="buy-sell__wallet-container">
    <div class="order-book__column-wide">
      <p class="order-book__title">
        <span class="bid price"></span>
        <span class="trading-product__title--extra trading-product__extra-info"><%= @data.fetch(:current_market).fetch(:bid_unit) %></span>
      </p>
    </div>
    <div class="order-book__column-small">
        <i class="icon icon-exchange trading-product__icon-exchange"></i>
    </div>
    <div class="order-book__column-wide">
      <p class="order-book__title">
        <span class="ask price"></span>
        <span class="trading-product__title--extra trading-product__extra-info"><%= @data.fetch(:current_market).fetch(:bid_unit) %></span>
      </p>
    </div>
  </div>
</div>
